Repository AY2223S1-CS2103T-W08-4/tp, pull requests merged in 2022-11, with the labels that each got.

#256 Convert to number format for table of contents
  docs/UserGuide.md
  docs/images/findegg.png
  docs/images/initialStateIncEg.png
  docs/images/listall.png
Labels: priority.High, severity.VeryLow, Docs

#260 Fix for contents being blocked on mac
  src/main/java/seedu/address/ui/UiManager.java
  src/main/resources/view/MainWindow.fxml
Labels: priority.High, severity.Medium

#264 Refine UG and fix bugs
  docs/UserGuide.md
Labels: priority.High, type.Enhancement, type.Bug, severity.VeryLow, Docs

#265 Hotfix ug formatting
  docs/UserGuide.md
Labels: type.Bug

#267 Rough PPP draft
  docs/team/bahamas20.md
  src/test/java/seedu/address/logic/parser/AddItemCommandParserTest.java
Labels: Docs

#268 Update PPP
  docs/team/hauchongtang.md
Labels: priority.High, type.Task, Docs

#269 Update PPP
  docs/team/kang-quan.md
Labels: priority.High, type.Task

#270 Update PPP
  docs/team/bahamas20.md
Labels: priority.High, Docs

#271 Update PPP
  docs/team/hauchongtang.md
Labels: priority.High, type.Task, Docs

#272 Fix to bugs remaining
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/AddItemCommand.java
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/logic/parser/FindCommandParser.java
Labels: priority.High

#273 Add page breaks to optimize pdf view
  docs/UserGuide.md
Labels: priority.Medium, type.Task, Docs

#274 Remove page break for section 3.2
  docs/UserGuide.md
Labels: Docs

#275 Test cases added and enhanced
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/model/item/SupplyItem.java
  src/main/java/seedu/address/model/person/Item.java
  src/main/java/seedu/address/storage/JsonAdaptedTask.java
  src/test/java/seedu/address/logic/commands/FindCommandTest.java
  src/test/java/seedu/address/logic/parser/FindCommandParserTest.java
  src/test/java/seedu/address/model/person/ItemContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/model/person/NameContainsKeywordsPredicateTest.java
  src/test/java/seedu/address/storage/JsonAdaptedTaskTest.java
Labels: priority.High, type.Enhancement, severity.Medium

#276 Update PPP
  docs/team/weesiau.md
Labels: Docs

#277 Modify version of UG
  docs/UserGuide.md
  src/main/java/seedu/address/MainApp.java
Labels: Docs

#278 Fix format and numbering for PPP
  docs/team/kang-quan.md
Labels: priority.High, Docs

#279 Typos fixed for PPP
  docs/team/bahamas20.md
  docs/team/hauchongtang.md
Labels: Docs

#280 Fix incorrect links in PPP
  docs/team/kang-quan.md
Labels: priority.High, Docs

#281 Fix typo in link in PPP
  docs/team/kang-quan.md
Labels: priority.High, Docs

#283 Update version
  src/main/java/seedu/address/MainApp.java
Labels: priority.High
